@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.root,
#root,
#docs-root {
  --primary: #FF1168;
  --secondary: #341931;
  --additional-color: #111625;
  --gradient-color: 238,9,121;

  --dark-blue: #115793;
  --middle-blue: #00A1CB;
  --light-blue: #0ABEBE;
  --dark-green: #3A7634;
  --green: #5EB11C;
  --yellow: #F2BC06;
  --orange: #F18D05;
  --red: #E54028;

  --headline-1: 48px;
  --headline-2: 36px;
  --headline-3: 32px;
  --headline-4: 24px;
  --headline-5: 20px;
  --headline-6: 15px;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
